In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

df = pd.DataFrame({
    "color": ["red", "green", "green", "blue", "orange"]
})

df.head()

    color
0     red
1   green
2   green
3    blue
4  orange

In [2]:
encoder=OneHotEncoder()

In [3]:
encoaded=encoder.fit_transform(df[['color']]).toarray()

encoaded

array([[0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.]])

In [7]:
import pandas as pd

encoaded_df=pd.DataFrame(encoaded,columns=encoder.get_feature_names_out())

encoaded_df

   color_blue  color_green  color_orange  color_red
0         0.0          0.0           0.0        1.0
1         0.0          1.0           0.0        0.0
2         0.0          1.0           0.0        0.0
3         1.0          0.0           0.0        0.0
4         0.0          0.0           1.0        0.0

In [15]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df2 = pd.DataFrame({
    "color": ["red", "green", "green", "blue", "orange"]
})

encoader=OneHotEncoder()

encoaded=encoader.fit_transform(df2[["color"]]).toarray()
encoaded


encoader_df=pd.DataFrame(encoaded,columns=encoader.get_feature_names_out())
encoader_df

   color_blue  color_green  color_orange  color_red
0         0.0          0.0           0.0        1.0
1         0.0          1.0           0.0        0.0
2         0.0          1.0           0.0        0.0
3         1.0          0.0           0.0        0.0
4         0.0          0.0           1.0        0.0